<md-card ng-repeat="quiz in test.toDoQuizes" ng-show="$index === test.currentQuizIndex">
    <md-subheader>
        <div layout="row" layout-align="space-between center">
            <h3>{{ testInProgress.description }}</h3>
            <p>Question {{ $index + 1 }} of {{ test.toDoQuizes.length }}</p>
        </div>
        <p>{{ quiz.instructions }}</p>
    </md-subheader>

    <!--start of the main well-->
    <md-content layout="row" layout-padding layout-margin>
        <div ng-hide="gameOver">
            <h3 class="md-headline" ng-class="quiz.isSelectionCorrect() ? 'animated infinite bounce' : 'animated infinite flash'">{{ quiz.feedback }}</h3>
            <h3 class="md-headline">{{ quiz.stem }}</h3>

            <!--this is the options group-->
            <md-list>
                <md-list-item ng-repeat="answer in quiz.shuffledAnswers">
                    <md-button class="option" ng-disabled="quiz.submited" ng-class="quiz.isAnswerSelected(answer) ? '' : 'md-raised md-primary'"
                    ng-click="quiz.updateSelection(answer)">{{ answer }}</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="option" ng-disabled="quiz.submited" ng-class="quiz.allFalseClicked ? 'md-raised md-warn' : ''" ng-click="quiz.allFalse()">All statements are false!</md-button>
                </md-list-item>
            </md-list>
            <!--submited: {{ quiz.submited }}-->
        </div>
        <div ng-show="gameOver">
            <h2>End of the Test!</h2>
            <h3>You aced {{ test.points }} out of {{ test.totalNumberOfQuizes }} questions</h3>
            <md-button class="md-raised md-primary" ng-click="reloadTest()">Take Test Again</md-button>
        </div>
    </md-content>
    <md-divider></md-divider>
    <!--next or submit buttons-->
    <md-card-footer layout="row" layout-align="space-between center">
        <md-subheader>
            <p>{{ quiz.sarcasm }} Score {{ test.score | number: 0 }} %</p>
        </md-subheader>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-disabled="!quiz.selectedAnswers.length && !quiz.allFalseClicked" ng-hide="quiz.submited" ng-click="quiz.submit()"
            class="md-raised md-warn">Submit</md-button>
            <md-button ng-hide="oneQuizLeft || gameOver" ng-click="test.updateCurrentQuiz()" class="md-primary md-button md-default-theme"
            ng-click="removeQuiz(quiz)">Next</md-button>
        </div>
        <!--game over div-->
    </md-card-footer>
</md-card>


<!--{{ test.currentQuizIndex }}
{{ indices }}
<p>selected answers: {{ quiz.selectedAnswers }}</p>
<p>selection correct: {{ quiz.isSelectionCorrect() }}</p>
<p>selected answers length: {{ quiz.selectedAnswers.length }}</p>
<p>{{ test }}</p>
<span>{{ $index + 1 }} </span>-->