<div class="panel panel-primary">
    <!--título del panel-->
    <div class="panel-heading">
        <h3 class="panel-title">{{ kind }}</h3>
    </div>
    <!--cuerpo del panel-->
    <div class="panel-body">
        <!--busqueda de palabras-->
        <input ng-disabled="currentWord._id" ng-model="searchWord" type="text" class="form-control" placeholder="Search for {{ kind }}">
        <br>
        <!--creación de nuevas palabras-->
        <div class="input-group">
            <input ng-model="newWord" type="text" class="form-control" placeholder="Create New">
            <span class="input-group-btn">
                <button ng-disabled="currentWord._id" ng-click="createWord(); flushInput()" class="btn btn-primary" type="button">Save</button>
            </span>
        </div>
        <br>
        <!--lista de palabras-->
        <div ng-repeat="word in list | orderBy:'name' | filter:searchWord" class="checkbox">
            <!--checkboxes visibles, no editando-->
            <div ng-hide="!!editing">
                <label>
                    <input ng-click="toggleChecked(word.name)" type="checkbox" value="{{ word.name }}"> {{ word.name }}
                </label>
                <div class="pull-right">
                    <button ng-disabled="currentWord._id" ng-hide="!!deleting" ng-click="flipEditing(); setCurrentWord(word)" type="button" class="btn btn-xs btn-link">Edit</button>
                    <button ng-disabled="currentWord._id" ng-hide="!!deleting" ng-click="flipDeleting(); setCurrentWord(word)" type="button"
                    class="btn btn-xs btn-link">Delete</button>
                    <!--Only visible when we are in a deleting operation-->
                    <button ng-show="!!deleting" ng-click="flipDeleting(); deleteWord(); flushCurrentWord()" class="btn btn-xs btn-danger">Delete!</button>
                    <button ng-show="!!deleting" ng-click="flipDeleting(); flushCurrentWord()" type="button" class="btn btn-xs btn-primary">Cancel</button>
                </div>
            </div>
            <!--editando-->
            <div ng-show="!!editing" class="input-group">
                <input ng-model="currentWord.name" type="text" class="form-control">
                <span class="input-group-btn">
                    <button ng-click="flipEditing(); updateWord(); flushCurrentWord()" class="btn btn-primary" type="button">Save</button>
                </span>
            </div>
        </div>
        {{ checked }} {{ currentWord }}
    </div>
</div>
<!--{{ list }}-->