<md-card>
    <md-card-content>
        <div layout="row" layout-align="space-between center">
            <h2 class="md-display-1">{{ kind }}</h2>
            <md-button ng-disabled="!validNewWord()" ng-click="addNewWord()" class="md-raised md-primary">Create New</md-button>
        </div>
        <!--busqueda de palabras-->

        <md-input-container>
            <label>Create a new one</label>
            <input ng-disabled="currentWord._id" ng-model="newWord">
        </md-input-container>

        <!--creación de nuevas palabras-->
        <md-input-container>
            <label>Search for existing {{ kind }}</label>
            <input ng-disabled="currentWord._id" ng-model="searchWord">
        </md-input-container>

        <!--lista de palabras-->
        <md-list class="list-words">
            <md-list-item ng-repeat="word in words | orderBy:'name' | filter:searchWord" class="checkbox">

                <!--checkboxes visibles, no editando-->
                <div layout="row" layout-sm="column" layout-fill layout-align-gt-sm="space-between center" ng-hide="!!editing">
                    <md-checkbox flex ng-model="word.isChecked" ng-click="toggleChecked(word)" aria-label="word">{{ word.name }}</md-checkbox>
                    <div flex layout="row" layout-align="end center">
                        <md-button ng-disabled="currentWord._id" ng-hide="!!deleting" ng-click="flipEditing(); setCurrentWord(word)" class="md-primary md-button md-default-theme">Edit</md-button>
                        <md-button ng-disabled="currentWord._id" ng-hide="!!deleting" ng-click="flipDeleting(); setCurrentWord(word)" class="md-warn md-button md-default-theme">Delete</md-button>

                        <!--Only visible when we are in a deleting operation-->
                        <md-button ng-show="!!deleting" ng-click="flipDeleting(); removeWord(); flushCurrentWord()" class="md-raised md-warn">Delete!</md-button>
                        <md-button ng-show="!!deleting" ng-click="flipDeleting(); flushCurrentWord()" class="md-primary md-button md-default-theme">Cancel</md-button>
                    </div>
                </div>

                <!--editando-->
                <div layout="row" layout-sm="column" layout-fill layout-align-gt-sm="space-between center" ng-show="!!editing">
                    <md-input-container>
                        <label>Type a better name</label>
                        <input ng-model="currentWord.name">
                    </md-input-container>
                    <md-button ng-disabled="!validWordEdit()" ng-click="flipEditing(); editWord(); flushCurrentWord()" class="md-raised md-primary">Done</button>
                </div>
                <!--{{ word.isChecked }}-->
            </md-list-item>
        </md-list>
        <!--{{ checkedWords }}-->
        <!--{{ checked }} {{ currentWord }} {{ validNewWord() }} {{ validWordEdit() }}-->

    </md-card-content>
</md-card>
<!--{{ list }}-->