<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Quizmaster</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
    </div>
</md-toolbar>

<div layout-margin layout-padding>
    <div layout="column">
        <gabe-words class="col-md-6" words="subjects" kind="subjectKind" new-word="newSubject" create-word="createSubject()" current-word="currentSubject"
        update-word="updateSubject()" delete-word="deleteSubject()" checked-words="quizInProgress.subjects" is-checked="isChecked"></gabe-words>

        <gabe-words class="col-md-6" words="keywords" kind="keywordKind" new-word="newKeyword" create-word="createKeyword()" current-word="currentKeyword"
        update-word="updateKeyword()" delete-word="deleteKeyword()" checked-words="quizInProgress.keywords" current-quiz="quizInProgress"></gabe-words>
    </div>

    <!--stem and instructions block-->
    <md-card class="panel panel-default">
        <md-card-content>
            <h3 class="md-display-1">Question</h3>
            <md-input-container>
                <label>Type clear instructions</label>
                <input ng-model="quizInProgress.instructions">
            </md-input-container>

            <md-input-container>
                <label>Type the stem of the question</label>
                <input ng-model="quizInProgress.stem">
            </md-input-container>
        </md-card-content>
    </md-card>

    <!--Answers block-->
    <md-card class="panel panel-default">
        <md-card-content class="panel-body">
            <h3 class="md-display-1">Answers</h3>
            <!--empieza el bloque truthies-->
            <gabe-sentences sentences="quizInProgress.truthies" sentences-type="truthiesType"></gabe-sentences>
            <!--empieza el bloque falsies-->
            <gabe-sentences sentences="quizInProgress.falsies" sentences-type="falsiesType"></gabe-sentences>
            <!--empieza el bloque pattern matching-->
            <gabe-sentences sentences="quizInProgress.regexps" sentences-type="regexpsType"></gabe-sentences>
        </md-card-content>
    </md-card>
</div>
    <md-button ng-show="!isQuizNew()" class="md-raised md-warn" ng-click="updateQuiz()">Update quiz</md-button>
    <md-button ng-show="isQuizNew()" class="md-raised md-warn" ng-click="createQuiz()">Create quiz</md-button>

    <!--{{ quizInProgress }}-->
    <!--{{ isQuizNew() }}-->





