<md-content layout="column" layout-margin layout-padding>
    <h3 class="md-display-1">Quiz Editing</h3>
    <p>Select a subject or create a new one if none of the existing ones apply. The selection of keywords very important: it
        will help other users find relevant quizzes more easily.
    </p>
    <div layout="row" layout-align="end center">
        <md-button ng-show="!isQuizNew()" class="md-raised md-warn" ng-click="updateQuiz()">Update quiz</md-button>
        <md-button ng-show="isQuizNew()" class="md-raised md-warn" ng-click="createQuiz()">Create quiz</md-button>
    </div>
</md-content>

<md-divider></md-divider>

<md-tabs md-dynamic-height="true">
    <md-tab label="Step 1">
        <md-content layout="column" layout-margin layout-padding>
            <gabe-words flex words="subjects" kind="subjectKind" new-word="newSubject" create-word="createSubject()" current-word="currentSubject"
            update-word="updateSubject()" delete-word="deleteSubject()" checked-words="quizInProgress.subjects" is-checked="isChecked"></gabe-words>

            <gabe-words flex words="keywords" kind="keywordKind" new-word="newKeyword" create-word="createKeyword()" current-word="currentKeyword"
            update-word="updateKeyword()" delete-word="deleteKeyword()" checked-words="quizInProgress.keywords" current-quiz="quizInProgress"></gabe-words>
        </md-content>
    </md-tab>

    <!--stem and instructions block-->
    <md-tab label="Step 2">
        <md-content layout="column" layout-margin layout-padding>
            <div flex>
                <md-card>
                    <md-card-content>
                        <h3 class="md-display-1">Question</h3>
                        <md-input-container>
                            <label>Type clear instructions</label>
                            <input ng-model="quizInProgress.instructions">
                        </md-input-container>

                        <md-input-container>
                            <label>Type the stem of the question</label>
                            <input ng-model="quizInProgress.stem">
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </div>

            <!--Answers block-->
            <div flex>
                <md-card>
                    <md-card-content>
                        <h3 class="md-display-1">Answers</h3>
                        <!--empieza el bloque truthies-->
                        <gabe-sentences sentences="quizInProgress.truthies" sentences-type="truthiesType"></gabe-sentences>
                        <!--empieza el bloque falsies-->
                        <gabe-sentences sentences="quizInProgress.falsies" sentences-type="falsiesType"></gabe-sentences>
                        <!--empieza el bloque pattern matching-->
                        <gabe-sentences sentences="quizInProgress.regexps" sentences-type="regexpsType"></gabe-sentences>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </md-tab>

</md-tabs>
<!--{{ quizInProgress }}-->
<!--{{ isQuizNew() }}-->