* {
    font-family: 'Droid Serif', serif;
}

body {
    background-color: #E2EDFF;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-select {
    margin-left: 15px;
}