.list-words {
    height: 250px;
    overflow: auto;
}

.test {
    height: 450px;
    overflow: auto;
}

.red {
    overflow: hidden;
    height: 300px;
    width: 230px;
}

.option {
    text-transform: none;
}

/*body, html {
    background-color: #F2F4FB;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-select {
    margin-left: 15px;
}

.list-words {
    height: 150px;
    overflow: auto;
}

.gabe-tile {
    height: 130px;
    overflow: auto;
}

.panel-tile {
    width: 250px
}*/

/*copied straight from quizmaster 4*/

/*.falsy {
    color: red;
}

.truthy {
    color: darkblue;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

div.answers {
    background-color: #FFFFFF;
}

.btn {
    text-align: left;
    white-space: normal;
}

.selected-quizzes {
    display: flex;
    flex-direction: column;
}

.next-or-submit-div {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.next-or-submit-buttons {
    align-self: flex-end;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
}

span.badge.badge-option {
    margin-right: 10px;
}

span.badge {
    margin-right: 5px;
}*/