<div class="search-area row">
    <div class="col-sm-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<br>
<div class="tiles">
    <div ng-repeat="quiz in quizzes">
        <gabe-quiztile></gabe-quiztile>
    </div>
</div>
<button ng-click="createTest()">Create Test</button>
<!--quizzes: {{ quizzes }}-->
{{ testInProgress.quizzes }}