<div class="row">
    <div class="col-md-9">
        <div class="tiles">
            <div ng-repeat="quiz in quizzes | filter:search | filter:filterByChecked">
                <gabe-quiztile></gabe-quiztile>
            </div>
        </div>
    </div>
    <div class="well col-md-3">
        <h3>Find Quizzes</h3>
        <label for="findQuizzes" class="control-label">Keyword search</label>
        <input ng-model="search.$" type="text" class="form-control" id="findQuizzes" placeholder="Type keywords...">
    </div>
    <div class="well col-md-3">
        <h3>New Test</h3>
        <label for="testDescription" class="control-label">Test Description</label>
        <input ng-model="description" type="text" class="form-control" id="testDescription" placeholder="Type test decription...">
        <br>
        <button class="btn btn-lg btn-danger" ng-click="createTest()">Create</button>
        <div class="tiles">
            <div ng-repeat="quiz in testInCreation.quizzes">
                <gabe-quiztile></gabe-quiztile>
            </div>
        </div>
        <!--quizzes: {{ testInCreation }}
        descrition: {{ description }}-->
    </div>
</div>