<!-- Modal Subjects-->
<div class="modal fade" id="modalSubjects" tabindex="-1" role="dialog" aria-labelledby="subjectsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--directive-->
                <gabe-words words="subjects" kind="subjectKind" new-word="newSubject" create-word="createSubject()" current-word="currentSubject"
                update-word="updateSubject()" delete-word="deleteSubject()" checked="checkedSubjects"></gabe-words>
                <!--directive ends-->
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>


<!-- Modal Keywords-->
<div class="modal fade" id="modalKeywords" tabindex="-1" role="dialog" aria-labelledby="keywordsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--directive-->
                <gabe-words words="keywords" kind="keywordKind" new-word="newKeyword" create-word="createKeyword()" current-word="currentKeyword"
                update-word="updateKeyword()" delete-word="deleteKeyword()" checked="checkedKeywords"></gabe-words>
                <!--directive ends-->
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<!--subject and keyword selection and list block-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Labels</h3>
    </div>
    <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalSubjects">Select Subjects</button>
            </div>
        </div>
        <br>
        <ul class="list-group">
            <li ng-repeat="subject in checkedSubjects" class="list-group-item">{{ subject.name }}</li>
        </ul>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalKeywords">Select Keywords</button>
            </div>
        </div>
        <br>
        <ul class="list-group">
            <li ng-repeat="keyword in checkedKeywords" class="list-group-item">{{ keyword.name }}</li>
        </ul>
    </div>
</div>

<!--stem and instructions block-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Question</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputInstructions" class="col-sm-2 control-label">Instructions</label>
                <div class="col-sm-10">
                    <input ng-model="instructions" type="text" class="form-control" id="inputInstructions" placeholder="Type clear instructions">
                </div>
            </div>
            <div class="form-group">
                <label for="inputStem" class="col-sm-2 control-label">Stem</label>
                <div class="col-sm-10">
                    <input ng-model="stem" type="text" class="form-control" id="inputStem" placeholder="Type a stem">
                </div>
            </div>
        </form>
    </div>
</div>

<!--Answers block-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Answers</h3>
    </div>
    <div class="panel-body">
        <!--empieza el bloque truthies-->
        <gabe-sentences sentences="truthies" sentences-type="truthiesType"></gabe-sentences>
        <!--empieza el bloque falsies-->
        <gabe-sentences sentences="falsies" sentences-type="falsiesType"></gabe-sentences>
        <!--empieza el bloque pattern matching-->
        <gabe-sentences sentences="regexps" sentences-type="regexpsType"></gabe-sentences>
    </div>
</div>
<button class="btn btn-default" ng-click="createQuiz()">Create quiz</button>

<br><h4>subjects:</h4> {{ checkedSubjects }}
<br><h4>keywords:</h4> {{ checkedKeywords }}
<br><h4>instructions:</h4> {{ instructions }}
<br><h4>stem:</h4> {{ stem }}
<br><h4>truthies:</h4> {{ truthies }}
<br><h4>falsies:</h4> {{ falsies }}
<br><h4>regexps:</h4> {{ regexps }}