<div class="panel panel-default">
    <!--título del panel-->
    <div class="panel-heading">
        <h4 class="panel-title">{{ quiz.stem }}</h4>
    </div>
    <!--cuerpo del panel-->
    <div class="panel-body gabe-tile">
        <p ng-repeat="truthy in quiz.truthies">{{ truthy }} </p>
        <p ng-repeat="falsy in quiz.falsies">{{ falsy }} </p>
        <p ng-repeat="regexp in quiz.regexps">{{ regexp }} </p>
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-sm" role="group">
            <button ui-sref="quizedit({id:quiz._id})" type="button" class="btn btn-default">Edit</button>
            <button ng-click="removeQuiz(quiz)" type="button" class="btn btn-default">Delete</button>
        </div>
        <div class="quiz-select">
            <input ng-model="quiz.shit" ng-click="addToTestInCreation(quiz._id)" type="checkbox">
        </div>
    </div>
</div>