<!-- Modal Subjects-->
<div class="modal fade" id="modalSubjects" tabindex="-1" role="dialog" aria-labelledby="subjectsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--directive-->
                <gabe-words words="subjects" kind="subjectKind" new-word="newSubject" create-word="createSubject()" current-word="currentSubject"
                update-word="updateSubject()" delete-word="deleteSubject()" checked-ids="quizInProgress.subjects" checked-names="snames"></gabe-words>
                <!--directive ends-->
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Done</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>


<!-- Modal Keywords-->
<div class="modal fade" id="modalKeywords" tabindex="-1" role="dialog" aria-labelledby="keywordsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--directive-->
                <gabe-words words="keywords" kind="keywordKind" new-word="newKeyword" create-word="createKeyword()" current-word="currentKeyword"
                update-word="updateKeyword()" delete-word="deleteKeyword()" checked-ids="quizInProgress.keywords" checked-names="knames"></gabe-words>
                <!--directive ends-->
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Done</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>


<!--subject and keyword selection and list block-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Labels</h3>
    </div>
    <div class="panel-body">
        <div class="labels">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalSubjects">Select Subjects</button>
                </div>
            </div>
            <br>
            <ul class="list-group">
                <li ng-repeat="subject in snames" class="list-group-item">{{ subject }}</li>
            </ul>
        </div>
        <div class="labels">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalKeywords">Select Keywords</button>
                </div>
            </div>
            <br>
            <ul class="list-group">
                <li ng-repeat="keyword in knames" class="list-group-item">{{ keyword }}</li>
            </ul>
        </div>
    </div>
</div>

<!--stem and instructions block-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Question</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2 gabri-label">
                <label for="inputInstructions" class="control-label">Instructions</label>
            </div>
            <div class="col-sm-10">
                <input ng-model="quizInProgress.instructions" type="text" class="form-control" id="inputInstructions" placeholder="Type clear instructions">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-2 gabri-label">
                <label for="inputStem" class="control-label"><p>Stem</p></label>
            </div>
            <div class="col-sm-10">
                <input ng-model="quizInProgress.stem" type="text" class="form-control" id="inputStem" placeholder="Type a stem">
            </div>
        </div>
        <br>
        <br>
    </div>
</div>


<!--Answers block-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Answers</h3>
    </div>
    <div class="panel-body">
        <!--empieza el bloque truthies-->
        <gabe-sentences sentences="quizInProgress.truthies" sentences-type="truthiesType"></gabe-sentences>
        <!--empieza el bloque falsies-->
        <gabe-sentences sentences="quizInProgress.falsies" sentences-type="falsiesType"></gabe-sentences>
        <!--empieza el bloque pattern matching-->
        <gabe-sentences sentences="quizInProgress.regexps" sentences-type="regexpsType"></gabe-sentences>
    </div>
</div>
<button class="btn btn-default" ng-click="createQuiz()">Create quiz</button>

{{ quizInProgress }}