<md-content layout="column" layout-margin layout-padding layout-fill>
    <h3 class="md-display-1">Test Bank</h3>
    <!--<h3>How to use this bank</h3>
    <div layout-gt-lg="row" layout-padding layout-margin>
        <div flex>
            <h4>1- Think of Stuff</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div flex>
            <h4>2- Some more stuff</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div flex>
            <h4>3- More Fun Stuff</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>-->
</md-content>
<h3 class="md-display-1">Find Tests</h3>
<md-content layout="row" layout-padding layout-fill layout-wrap>
    <md-card ng-repeat="test in tests">
        <md-card-content>
            <div layout="row" layout-align="space-between center">
                <md-subheader>{{ test.created | date:'medium' }}</md-subheader>
                <md-button ui-sref="test({ id:test._id })">Take the test!</md-button>
            </div>
            <md-list class="testcard">
                <md-list-item layout="column" layout-align="center start">
                    <h4 class="md-headline">{{ test.description }}</h4>
                </md-list-item>
                <md-list-item ng-repeat="quiz in test.quizzes" class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ quiz.stem }}</h3>
                        <div layout="row" layout-align="start center" ng-repeat="truthy in quiz.truthies">
                            <p>{{ "\u2713" }} {{ truthy }}</p>
                        </div>
                        <div layout="row" layout-align="start center" ng-repeat="falsy in quiz.falsies">
                            <p>{{ "\u2718" }} {{ falsy }}</p>
                        </div>
                    </div>
                </md-list-item>
                <!--checked: {{ quiz.checked }}-->
            </md-list>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-footer layout="row" layout-align="space-between center">
            <div class="md-actions" layout="row" layout-align="start center">
                <md-button class="md-primary md-button md-default-theme" ui-sref="testedit({id:test._id})">Edit</md-button>
                <md-button class="md-raised md-warn" ng-click="removeTest(test)">Delete</md-button>
            </div>
        </md-card-footer>
    </md-card>
</md-content>
<!--<i class="material-icons">highlight_off</i>
<i class="material-icons">done</i>-->